*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*HEADER*/

body {
    font-family: Arial, sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

.container {
    text-align: right;
    padding: 2%;
}

button {
    background-color: #af20d3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
	text-align: right;
}

.dark-mode {
    background-color: #000;
    color: #fff;
}

header{
	width: 100%;
	position: relative;
	display: flexbox;
	background: -webkit-linear-gradient(left, rgba(81, 99, 149, .5), rgba(255, 255, 255, 0.5));
	background-size: cover;
    background-attachment: fixed;
	position: relative;
}

.barra-navegacion{
	display: flex;
	justify-content: space-evenly;
}

/*main*/

.login-box {
    position: relative;
    margin: 25% 0% -20% 50%;
    width: 35%;
    height: auto;
    padding: 4%;
    transform: translate(-50%, -50%);
    background: #242026;
    box-shadow: 0 15px 25px rgba(143, 124, 236, 0.7);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box input {
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #655f5f;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #181717;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: relative;
    left: 0;
    top: -60px;
    padding: 10px 0;
    font-size: 16px;
    color: #181515;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -85px;
    left: 0;
    color: #8F7CEC;
    font-size: 12px;
}

#submit {
    padding: 10px 20px;
    color: #CBBDDB;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid #8F7CEC;
    margin: auto;
    background: transparent;
}

#submit:hover {
    background: #8F7CEC;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #8F7CEC, 0 0 25px #8F7CEC, 0 0 50px #8F7CEC, 0 0 100px #8F7CEC;
}

.button-form {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#register {
    font-size: 14px;
    text-decoration: none;
    color: #CBBDDB;
    margin: auto;
    width: 60%;
    text-align: center;
}

#register a {
    margin: auto;
    color: #8F7CEC;
    text-decoration: none;
}
a:visited{
    color:#CBBDDB;
}

.link-home {
    position: absolute;
}

/*FOOTER*/

footer{
	background-color: #8F7CEC;
	padding: 1% 0% 1% 0%;
	margin: auto;
	overflow: hidden;
}

.contenedor-footer{
	display: flex;
	width: 90%;
	justify-content: space-evenly;
	margin: auto;
	padding-bottom: 50px;
	border-bottom: 1px solid #8F7CEC;
}

.content-footer{
	text-align: center;
	margin: 1% 10% 1% 10%;
}

.content-footer h4{
	color: black;
	border-bottom: 3px solid #af20d3;
}

.content-footer p{
	color: black;
}

.titulo-final{
	color: black;
	text-align: center;
	font-size: 24px;
}


/* Media Query para pantallas más pequeñas (ej. tablets) */


